:root{
    --star-color:#FFCE3E;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#fe6433;
    --header-height:140px;
    --header__nav-height:36px;
    --header-sort-bar-height:60px;
    --header__search-height:calc(var(--header-height) - var(--header__nav-height))
}
*{
    box-sizing:inherit;
}
html{
    font: size 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: 1.6rem;
}
/* Responsive */

.grid__column2{
    width: 16.6667%;
}
.grid__column10{
    width: 83.3333%;
}
.grid__column2-4{
    width: 20%;
}
.grid__column2-5{
    width: 24%;
}
.grid__column4-12{
    width: 33.3333%;
}
.grid__column8-12{
    width: 66.6667%;
}



/* End Responsive */
.btn{
    min-width: 120px;
    height: 35px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

.btn:hover{
    color: var(--black-color);
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    background-color: #fe6433;
    color: var(--white-color);
}
